.article {

    width: 100vw;
    min-height: calc( 100vh - var(--navbar-height) );
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: background-color 100ms linear;

    &--light {
        background-color: var(--background-light);
    }
    &--dark {
        background-color: var(--background-dark);
    }

}