.box-icon {

    width: 250px;
    height: 100px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1%;
    box-sizing: border-box;
    color: var(--text-dark);
    transition: background-color 100ms linear;

    &--light {
        background-color: var(--background-light);
        box-shadow: 0 0 40px var(--shadow-dark-20);
    }
    &--dark {
        background-color: var(--background-dark);
        box-shadow: 0 0 40px var(--shadow-black-50);
        color: var(--text-light);
    }

    .__icon {
        height: 40%;
    }

    .__content {

        margin: 0 10px;

        .label {
            font-size: 12px;
            font-weight: 600;
            color: var(--text-grey);
            margin-left: 5px;
            transition: color 100ms linear;
        }
        .text {
            font-size: 30px;
            font-weight: 800;
        }

    }

}