.home-body {

    width: 100vw;
    height: calc( 100vh - var(--navbar-height) );
    padding: 0 100px;
    box-sizing: border-box;
    background-color: var(--background-light);

    .__left {

        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .__job-title {

            margin: 30px 0 15px 0;
    
            p {
    
                &:nth-child(2) {
                    transition: all 100ms linear;
                    color: var(--primary-fucsia)
                }
    
                text-transform: uppercase;
                margin: 0;
                font-size: 75px;
                font-weight: 800;
    
            }
    
        }

        .__email {

            transition: all 100ms linear;
            color: var(--primary-fucsia);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }

        }

    }

}