.home {
    width: 100vw;
    height: max-content;
    display: flex;
    justify-content: center;
}

.__container {
    height: max-content;
    padding-bottom: 100px;
    width: 100%;
    background-color: #FBFBFB;
    box-sizing: border-box;
}

.__body {
    padding: 0 7%;
}

.__first-article {
    margin: 0 0 50px 0;
}

.__card-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.__card-grid {
    display: grid;
    grid-template-columns: auto auto auto;
}
.__flex-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
