.blog-desktop {

    .__container {
        height: max-content;
        padding-bottom: 100px;
        width: 100%;
        background-color: #FBFBFB;
        box-sizing: border-box;
    }

    .__first-article {
        margin-bottom: 50px;
    }

    .__body {
        padding: 0 7%;
    }

    .__card-grid {
        display: grid;
        grid-template-columns: auto auto auto;
    }

}