.contacts-container {

    margin-top: 50px;

    .__icon {

        height: 40px;
        cursor: pointer;
        margin: 0 5px;

        path {
            transition: all 100ms linear;
        }

        &--fucsia:hover > path {
            fill: var(--primary-fucsia);
        }
        &--orange:hover > path {
            fill: var(--primary-orange);
        }
        &--azure:hover > path {
            fill: var(--primary-azure);
        }

    }

}