.contacts-container {

    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;

    .__icon {

        height: 40px;
        cursor: pointer;

        path {
            transition: all 100ms linear;
        }

        &--fucsia:hover > path {
            fill: var(--primary-fucsia);
        }
        &--orange:hover > path {
            fill: var(--primary-orange);
        }
        &--azure:hover > path {
            fill: var(--primary-azure);
        }

    }

}