:root {

    // primary colors
    --primary-fucsia: #E45D8B;
    --primary-fucsia-50: #E45D8B50;
    --primary-orange: #FFAE10;
    --primary-orange-50: #FFAE1050;
    --primary-azure: #108CFF;
    --primary-azure-50: #108CFF50;

    // background
    --background-light: #FBFBFB;
    --background-dark: #282C34;

    // text
    --text-dark: #282C34;
    --text-grey: #6A7180;
    --text-disabled: #B4B4B4;
    --text-light: #FBFBFB;

    // shadow
    --shadow-dark-10: #282C3410;
    --shadow-dark-15: #282C3415;
    --shadow-dark-20: #282C3420;


}