.projects {

    width: 100vw;
    height: calc( 100vh - var(--navbar-height) );
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 100ms linear;

    // theme
    &--light {
        background-color: var(--background-light);
    }
    &--dark {
        background-color: var(--background-dark);
    }

    span {
        transition: all 100ms linear;
        font-weight: 800;
        font-size: 40px;
        margin-bottom: var(--navbar-height);
    }

}